/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic,latin-ext,vietnamese');

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fafafa;
}